@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
    body {
        font-family: Intro;      
        background: #fff;
    }
    
   /* p {
        font-family: Intro; 
      font-size: 1.1em;
      font-weight: 300;
      line-height: 1.7em;
      color: #999;
    }*/
    
    a,
    a:hover,
    a:focus {
      color: inherit;
      text-decoration: none;
      transition: all 0.3s;
    }
    
    .navbar {
     
      background:#f8f8f8;;
      border: none;
      border-radius: 0;

    }
    
    .navbar-btn {
      box-shadow: none;
      outline: none !important;
      border: none;
    }
    
    .line {
      width: 100%;
      height: 1px;
      border-bottom: 1px dashed #ddd;
      margin: 40px 0;
    }
    /* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
    
    #sidebar {
      width: 250px;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      z-index: 999;
      background:#f8f8f8;
      color: #000000;
      transition: all 0.3s;
      border-right-style: solid;
  border-right-color: #f8f8f8;
  

    }
    
    #sidebar.active {
      margin-left: -250px;
      
    }
    
    #sidebar .sidebar-header {
      padding: 20px;
      background: #6d7fcc;
    }
    
    #sidebar ul.components {
      display: block;
      border-color:black;
      
    }
    
    #sidebar ul p {
      color:black;
      padding: 10px;
    }
    
    #sidebar ul li a {
      padding: 10px;
      display: block;
      color:black;
      background: #f8f8f8;;
      font-size: 18px;
    }

  
    
    #sidebar ul li a:hover {
      color: white;
      background:#17a2b8
    }

    #sidebar-buttonheader
    {
        background: #fcd800;
        box-shadow: inset -7px 0 13px -7px #000000;
        font-size: 16px;
    }

    
    #sidebar ul li.active>a,
    a[aria-expanded="true"] {
      color:#000000;
      background:#f8f8f8;;
    }
    #sidebar ul li
    {
        color:#000000;
      background:white;
    }

    a[data-toggle="collapse"] {
      position: relative;
    }
    
    a[aria-expanded="false"]::before,
    a[aria-expanded="true"]::before {
      content: '\e259';
      display: block;
      position: absolute;
      right: 20px;
      font-family: 'Glyphicons Halflings';
      font-size: 0.6em;
    }
    
    a[aria-expanded="true"]::before {
      content: '\e260';
    }
    
    ul ul a {
      font-size: 0.9em !important;
      padding-left: 30px !important;
      background: #6d7fcc;
    }
    
    ul.CTAs {
      padding: 20px;
    }
    
    ul.CTAs a {
      text-align: center;
      font-size: 0.9em !important;
      display: block;
      border-radius: 5px;
      margin-bottom: 5px;
    }
    
    a.download {
      background: #fff;
      color: #7386D5;
    }
    
    a.article,
    a.article:hover {
      background:#21292C !important;
      
    }
    /* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
    
    #content {
      width: calc(100% - 250px);
      min-height: 150vh;
      transition: all 0.3s;
      position: absolute;
      top: 0;
      right: 0;
      background: #DCDCDC;
    }
    #content h4
    {
        width: 100%;
        text-align: center;
        background: #666666;;
        color: #fff;
        padding-top: 12px;
        margin-top: 0px;
        padding-bottom: 12px;
        font-family: Intro;
        font-weight: 100;
    }

    #content.active {
      width: 100%;
    }
    /* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
    
    @media (max-width: 768px) {
      #sidebar {
        margin-left: -250px;
      }
      #sidebar.active {
        margin-left: 0;
      }
      #content {
        width: 100%;
      }
      #content.active {
        width: calc(100% - 250px);
      }
      #sidebarCollapse span {
        display: none;
      }
    }