

H2 {
    font: bold 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    color: #0295BE;
}


SPAN.headInvert {
    background: #0295BE;
    font: bold 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    color: #EEE;
}

SPAN.Freetext {
    background: #FFF;
    color: #000;
    font: 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    line-height: 17px;
    letter-spacing: 0px;
}

td.headInvert {
    font: bold 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    background: #0295BE;
    color: #EEE;
}


.download_btn {
    border-color: #E0C000;
    border-width: 1px;
    font:bold 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 30px;
    background: #FCD800;
    background-size: inherit;
    cursor: pointer;
    margin-left: 12px;
}

.search_btn {
    border-color: #FCD800;
    border-width: 1px;
    font-size: 10pt;
    font-weight: normal;
    line-height: 30px;
    background: #FCD800 url(/assets/images/search4.png) no-repeat center;

    background-size: inherit;
    cursor: pointer;
    margin-left: 47px;
}

    .search_btn:hover {
        background: #E0C000  no-repeat center;
    }



.Subscription_btn {
    border-color: #E0C000;
    background-color: #FCD800;
    font: bold 12px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}

    .Subscription_btn:hover {
        background-color: #E0C000;
    }


td.subheadInvert {
    font: bold 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    background: #0295BE;
    color: #EEE;
}

td.Freetext {
    background: #FFF;
    color: #000;
    font: 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    line-height: 17px;
    letter-spacing: 0px;
}

td.Info {
    padding: 10px;
    background: #fff;
    color: #000;
    font: 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}

td.LoginCaption {
    color: gray;
}

INPUT.LoginButton {
    font: 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}

INPUT.LoginFormInput {
    background: #FFF;
}

td.Login SPAN {
    font: bold 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}

.content {
    font: normal 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    color: #000;
    text-decoration-line: underline;
    text-decoration-color: #FCD800;
}

SPAN.content {
    color: #D9D3CD; /*Removed #D9D3CD  Rebrand*/
}

table .Cart {
    font: 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    text-decoration: #FCD800; /*Removed #E6E2DE  Rebrand*/
    color: #000;
}

    table .Cart TR.CartHead td {
        font: bold 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
        background: #FCD800; /*Removed #E6E2DE  Rebrand*/
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }

    table .Cart td.CartItem {
        font: 11px bold "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
        padding: 10px;
    }

table .submitform {
    border: 0;
    font: 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}

    table .submitform td.formhead {
        padding: 4px;
        font: bold 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
        background: #0295BE;
        color: #EEE;
        height: 20px;
    }

    table .submitform td.formsubhead {
        padding: 4px;
        font: bold 12px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
        background: #FFF;
        color: #0295BE;
        height: 20px;
    }

    table .submitform td.infohead {
        padding: 2px;
        font: italic 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
        background: #0295BE;
        color: #EEE;
    }

    table .submitform td.formitem {
        padding-top: 3px;
        padding-bottom: 3px;
        background: #FFF;
        color: #000;
    }

    table .submitform td.infoitem {
        font: italic 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
        background: #FFF;
        color: #000;
    }

    table .submitform td.formfiller {
        background: #FFF;
        color: #000;
        height: 5px;
    }

table.submenu {
    /* background:#D9D3CD;  This is the original gray*/
    background: #ffffff;
}

    table.submenu TR td.itemnormal, /* Submenu rebrand */
    table.submenu TR td.itemselected {
        padding: 5px;
        border-top: 1px solid #FCD800 ;/* verification enquiry rebrand*/
        font: bold 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
        color: white;
        height: 35px;
        text-align: right;
        padding-right: 15px;
        border-bottom: 1px solid #FCD800 ;
    }

    table.submenu TR td.itemselected {
        background:  no-repeat right center;
    }

        table.submenu TR td.itemnormal A,
        table.submenu TR td.itemselected A {
            font: bold 12px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
            color: #0295BE; /*Side menu for business solutions  Rebrand */
            text-decoration: none;
        }

    table.submenu TR td.childnormal,
    table.submenu TR td.childselected {
        padding: 2px;
        padding-right: 25px;
        font: bold 10px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
        color: White;
        text-align: right;
    }

    table.submenu TR td.childnormal {
        font: bold 10px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
        color: white;
    }

    table.submenu TR td.childselected {
        font: bold 10px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
        background: #FCD800;
        text-decoration-color: #E0C000;
        /*  Rebrand Change #968777*/
        /*background:url(../images/menu/selected.gif) no-repeat right center;*/
    }

    table.submenu TR td.childnormal A {
        font: bold 10px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
        color: #000000;
        text-decoration: none;
    }

    table.submenu TR td.childselected A {
        font: bold 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
        color: #000000;
        text-decoration: none;
    }

table.footer {
    background: #ffffff;
}

    table.footer TR td,
    table.footer TR td A {
        padding-top: 8px;
        padding-bottom: 8px;
        font: 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
        color: #000000;
        text-decoration: none;
    }

table.menu { /* menu rebrand excluding the home button*/
    background: #0295BE;
    height: 26px;
    padding: 5px;
}




    table.menu TR td.itemnormal,
    table.menu TR td.itemselected {
        font: bold 9px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
        color: #fff;
        padding: 5px;
        border-right: 1px solid #fff;
    }

    table.menu TR td.itemselected { /*Home key*/
        background: #FCD800;
    }

        table.menu TR td.itemselected:hover { /*Home key*/
            background: #E0C000;
        }






        table.menu TR td.itemnormal A,
        table.menu TR td.itemselected A {
            font: 13px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif; /*change Menu size  Rebrand*/
            color: #000000;
            text-decoration: none;
        }



SPAN.sectionhead { /* Rebrand  Headings */
    font: bold 16px Arial,Verdana;
    color: #000000;
}

td.positioning {
    text-align: left;
    font: normal 11px Tahoma,Georgia,Arial,Verdana;
    color: #000000; /* removed #816E59 rebrand*/
    padding: 2px;
    letter-spacing: normal;
}

    td.positioning SPAN.highlight /*text-decoration-color :Red;
   text-decoration  :underline; cannot change the underlining color */ {
        font: bold 11px Tahoma,Georgia,Arial,Verdana;
        color: #0295BE;
        padding: 0px;
        letter-spacing: normal;
    }




td.lightgreen {
    font: normal 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    color: #000;
    background: #0295BE;
}

table.blue {
    background: #ffffff;
}

table.green {
    background: #ffffff;
    ;
}

table.greenblock {
    background: #0295BE;
}

table.factblock {
    background: #0295BE;
}

table.paging {
    background: #ffffff;
}

table.blue TR td,
table.green TR td,
table.greenblock TR td {
    padding: 3px;
    padding-left: 6px;
    padding-right: 17px;
    padding-bottom: 10px;
    font: normal 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    color: #000000;
    text-decoration: none;
}

table.factblock TR td {
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 10px;
    font: normal 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    color: #221E1F;
    text-decoration: none;
}

table.blue TR td A,
table.green TR td A {
    font: normal 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    color: #0295BE; /*Quick Link Font */
    text-decoration: none;
}


table.greenblock TR td A {
    font: normal 10px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    color: #0295BE;
    text-decoration: none;
}

table.greenblock SPAN {
    font: bold 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    color: #fff;
}

table.blue TR td {
    background-color: #ffffff;
}

table.green TR td {
    background-color: #ffffff;
}

table.factblock TR td {
    background:  no-repeat 5px 5px;
    padding-left: 20px;
}

table.blue TR.head td,
table.green TR.head td {/* quicklink rebrand*/
    background-color: #FCD800;
    font:  13px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    color: #000000;
    
}

table.factblock TR.head td {
    background: none;
    font: bold 13px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    color: #eee; /*#221E1F; rebrand*/
}

table.list TR td,
table.paging TR td {
    font: normal 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    color: #000;
}

    SPAN.head,
    table.list TR td SPAN.head {
        background: #ffffff; /*Rebrand change #FCD800 Headings */
        font: bold 12px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    }






SPAN.Subhead {
    font: bold 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    color: #000;
}

SPAN.listitem {
    font: 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    color: #000;
}

SPAN.italic,
table.list TR td SPAN.italic {
    font: italic 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    color: #0295BE;
}

table.list TR td A {
    font: bold 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    color: #0295BE; /*Rebrand Change #968777*/
    text-decoration: none;
}


    table.list TR td A.link {
        font: bold 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
        text-decoration: underline;
        border-bottom-color: red;
        text-decoration-color: red;
    }

table.filters {
    background: #ffffff; /*removed #E1C1BA(Pink ) rebrand */
}

    table.filters TR td {
        font: normal 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
        color: #000;
        padding: 5px;
    }

INPUT,
TEXTAREA,
SELECT {
    font: normal 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    color: #000;
}

.error {
    color: #E14025;
}


table .xform {
    border: 0;
    font: 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}

    table .xform td {
        padding: 4px;
        background: #FFF;
        color: #000;
        height: 20px;
    }

        table .xform td.head,
        table .xform td.topMenuTable {
            padding: 5px;
            font: bold 12px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
            background: #00789B;
            color: #EEE;
        }

        table .xform td.subhead,
        table .xform td.reportheader {
            padding: 4px;
            font: bold 12px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
            background: #FFF;
            color: #00789B;
            height: 20px;
        }

        table .xform td.tableheader {
            padding: 4px;
            font: bold 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
            color: #000;
        }

        table .xform td.infohead {
            padding: 2px;
            font: italic 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
            background: #0295BE;
            color: #EEE;
        }



div.vertical-line {
    border-style: solid;
    border-color: #FCD800;
    border-width: 1px;
    width: 5px; /* Line width */
    background-color: #FCD800; /* Line color */
    height: 0px;
    float: left;
}

table .xform td.item {
    padding-top: 3px;
    padding-bottom: 3px;
    background: #FFF;
    color: #000;
}

table .xform td.info {
    font: italic 11px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    background: #FFF;
    color: #000;
}

table .xform td.formfiller {
    background: #FFF;
    color: #000;
    height: 5px;
}

table .xform td.error {
    background: #FFF;
    color: #F00;
}

