<template>
  <div class="wrapper">
    <SideBarMenu :menuPageName="menuPageName" />

    <div id="content">
      <Header :menuPageName="menuPageName" :sidebar="sidebar" :content="content" />

      <div class="contentheader mt-5">
        <h1>TERMS AND CONDITIONS</h1>
        <div>
          <p class="contenttermsconditionsparagraph">
            Welcome and thank you for accessing the TransUnion ETESI Vehicle Check Application.Your account will be
            billed according to your rate for the valuation transaction.
            Any verification reports will be charged at your normal rate.We do not gather or store any personally
            identifiable information. We do store the make, model, OS and OS version of the device you are using. By
            using this application you agree to be bound by the related Terms and Conditions.To view the full Terms and
            Conditions please click the below link:</p>
        </div>
      </div>

      <div class="row mt-4">
        <button type="button" class="button termsandconditionsbtn" v-on:click="gotToTermsAndConditionsPage">

          View Full Terms &amp; Conditions
        </button>
      </div>

      <div class="mt-4">
        <b-form-checkbox v-model="status">

          I accept the terms and use
        </b-form-checkbox>
      </div>

      <div class="row mt-4" v-if="status">
        <button class="button button-block proceedbtn">Proceed</button>
        <br><br> </div>

      <!-- <div class="contentheader mt-4">

          <b-card-group deck>
      <b-card bg-variant="light" header=" Accept Terms & Conditions" class="text-left">
        <b-card-text>
        <div  class="row" v-if="accept">
        <div class="col">Accept Terms</div>
        <div class="col" style="text-align: right">       
       <a  @click="setAcceptTermsConditionFlag(false)" ><img src="https://www.tu1check.co.za/img/Close.png"></a>
         </div>
         </div>


           <div  v-else>

            <div  class="row" >
        <div class="col">Accept Terms</div>
        <div class="col" style="text-align: right" ><a  @click="setAcceptTermsConditionFlag(true)"><img src="https://www.tu1check.co.za/img/Accept.png"></a></div>         
          </div>
            <div class="row">
     <button  class="button button-block proceedbtn mt-2">Proceed</button>
                       <br><br> </div>

        </div>
      
        </b-card-text>
      </b-card>
 
    </b-card-group>
      </div>-->

    </div>
  </div>

</template>

<script>
  import SideBarMenu from "@/components/SideBar/SideBarMenu.vue";
  import Header from "@/components/SideBar/Header.vue";
  export default {
    components: {
      SideBarMenu,
      Header
    },
    data: function() {
      return {
        menuPageName: "TERMS & CONDITIONS",
        sidebar: "sidebar",
        content: "content",
        accept: true,
        status: false,
      };
    },
    methods: {
      /* eslint-disable no-console */
      setAcceptTermsConditionFlag(acceptFalg) {
        this.accept = acceptFalg;
        console.log("accept flag value" + this.acceptFalg);
      },
      gotToTermsAndConditionsPage() {
       
        let routeData = this.$router.resolve({
          name: 'TransUnionAutoInfo'
        });
        window.open(routeData.href, '_blank');
      }
      /* eslint-enable no-console */
    },
  }
</script>

<style>
  .contentheader {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7px;
  }

  .change::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #f0f0f0;
  }

  .contenttermsconditionsparagraph {
    font-family: Intro;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: black
  }

  .termsandconditionsbtn {
    border-color: transparent;
    background-color: #17a2b8;
    color: white;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: rgb(185 185 185) 4px 4px 0px 1px;
    border-radius: 0;
    display: block;
    min-width: 52px;
    min-height: 47px;
  }

  .proceedbtn {
    border-color: transparent;
    background-color: #17a2b8;
    color: white;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    box-shadow: rgb(185 185 185) 4px 4px 0px 1px;
    border-radius: 0;
    display: block;
    min-width: 52px;
    min-height: 47px;
  }
</style>