<template>
  <div class="wrapper">
    <SideBarMenu :menuPageName="menuPageName" />

    <div id="content">
      <Header :menuPageName="menuPageName" :sidebar="sidebar" :content="content" />

      <div class="vehicleloginformdiv mt-5">
        <b-form v-on:submit.prevent="submit" class="mt-5">

          <p class="vehicleloginformtitle">ETESI Vehicle Check – powered by Transunion </p>

          <b-form-group class="mt-4">

            <b-form-input type="email" size="lg" placeholder="Enter the username" class="form-control  p-4"
              id="userName" name="userName" v-model="vehicleloginform.userName"></b-form-input>

          </b-form-group>

          <b-form-group class="mt-4">

            <b-form-input type="password" size="lg" placeholder="Enter the password" class="form-control  p-4"
              id="password" name="password" v-model="vehicleloginform.password"></b-form-input>

          </b-form-group>

          <div class="mt-4 container">
            <button class="button loginbtn">
              Login
            </button>
          </div>

          <div v-if="loading" class="text-center">
            <!-- here put a spinner or whatever you want to indicate that a request is in progress -->
            <b-spinner variant="primary" label="Spinning"></b-spinner>
          </div>

        </b-form>
      </div>

    </div>
  </div>
</template>

<script>
  import SideBarMenu from "@/components/SideBar/SideBarMenu.vue";
  import Header from "@/components/SideBar/Header.vue";
  import http from "../http-common";
  export default {
    components: {
      SideBarMenu,
      Header
    },
    data: function() {
      return {
        vehicleloginform: {
          username: "",
          password: ""
        },
        menuPageName: "Login",
        sidebar: "sidebar",
        content: "content",
        showResultErrorMsg: "",
        loading: false,
      };
    },
    methods: {
      /* eslint-disable no-console */
      //from submisson the method
      submit: function() {
        this.loading = true; //the loading begin
        var data = {
          vinAndRegNo: this.verificationForm.vinAndRegNo,
          guideYear: this.verificationForm.guideYear,
          guideMonth: this.verificationForm.guideMonth,
          vehicleMileage: this.verificationForm.vehicleMileage,
        };
        http
          .post("/getVehicleApiResponse", data)
          .then((response) => {
            this.loading = false;
            console.log(response.data);
            this.vehicleModel = response.data.vehicleModel;
            //if vehicle is coming null from the response data
            if (this.vehicleModel == null) {
              this.showResultErrorMsg = "No vehicle records found for search";
            } else {
              this.$router
                .push({
                  name: "VerificationSearchResult",
                  params: {
                    data: response.data
                  }
                })
            }
          })
          .catch((e) => {
            this.loading = false;
            console.log(e);
          });
      },
      /* eslint-disable no-console */
    }
  }
</script>

<style>
  .vehicleloginformdiv {
    max-width: 800px !important;
    max-height: 800px !important;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
  }

  .loginbtn {
    border-color: transparent;
    background-color: #17a2b8;
    color: white;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: rgb(185 185 185) 4px 4px 0px 1px;
    border-radius: 0;
    display: block;
    min-width: 52px;
    min-height: 47px;
    font-size: 20px;
  }

  .vehicleloginformtitle {
    font-size: 25px;
  }
</style>