<template>
  <div class="wrapper">
    <SideBarMenu :menuPageName="menuPageName" />

    <div id="content">
      <Header :menuPageName="menuPageName" :sidebar="sidebar" :content="content" />

      <div class="verificationresulttitlediv">
        <p class="verificationresulttitle">Here is the information you requested</p>
      </div>

      <div class=" verificationresultdiv mt-2">

        <table class="table table-bordered" style="width:100%">
          <tr>
            <td class="verificationsrestblheadercol">Make</td>
            <td class="verificationsrestblcol">{{verificationResponseResultJson.vehicleMake}}</td>
          </tr>

          <tr>
            <td class="verificationsrestblheadercol">Model</td>
            <td class="verificationsrestblcol">{{verificationResponseResultJson.vehicleModel}}</td>
          </tr>

          <tr>
            <td class="verificationsrestblheadercol">Intro date</td>
            <td class="verificationsrestblcol">{{verificationResponseResultJson.vehicleIntroDate}}</td>
          </tr>

          <tr>
            <td class="verificationsrestblheadercol">Disc date</td>
            <td class="verificationsrestblcol">{{verificationResponseResultJson.vehicleDiscDate}}</td>
          </tr>

          <tr>
            <td class="verificationsrestblheadercol">Colour</td>
            <td class="verificationsrestblcol">{{verificationResponseResultJson.vehicleColour}}</td>
          </tr>

          <tr>
            <td class="verificationsrestblheadercol">Vehicle registration number</td>
            <td class="verificationsrestblcol">{{verificationResponseResultJson.vehicleRegistrationNumber}}</td>
          </tr>

          <tr>
            <td class="verificationsrestblheadercol">Vehicle vin number</td>
            <td class="verificationsrestblcol">{{verificationResponseResultJson.vehicleVinNumber}}</td>
          </tr>

          <tr>
            <td class="verificationsrestblheadercol">Axle configuration</td>
            <td class="verificationsrestblcol">{{verificationResponseResultJson.vehicleAxleConfigration}}</td>
          </tr>

          <tr>
            <td class="verificationsrestblheadercol">Body type</td>
            <td class="verificationsrestblcol">{{verificationResponseResultJson.vehiclebodyType}}</td>
          </tr>

          <tr>
            <td class="verificationsrestblheadercol">Cubic capacity</td>
            <td class="verificationsrestblcol">{{verificationResponseResultJson.vehicleCubicCapacity}}</td>
          </tr>

          <tr>
            <td class="verificationsrestblheadercol">Doors</td>
            <td class="verificationsrestblcol">{{verificationResponseResultJson.vehicleDoors}}</td>
          </tr>

          <tr>
            <td class="verificationsrestblheadercol">Front Tyre Size
            </td>
            <td class="verificationsrestblcol">{{verificationResponseResultJson.vehicleFrontTireSize}}</td>
          </tr>

          <tr>
            <td class="verificationsrestblheadercol">GCM</td>
            <td class="verificationsrestblcol">{{verificationResponseResultJson.vehcileGCM}}</td>
          </tr>

          <tr>
            <td class="verificationsrestblheadercol">GVM</td>
            <td class="verificationsrestblcol">{{verificationResponseResultJson.vehicleGVM}}</td>
          </tr>

          <tr>
            <td class="verificationsrestblheadercol">Kilowatts</td>
            <td class="verificationsrestblcol">{{verificationResponseResultJson.vehicleKilowatts}}</td>
          </tr>

          <tr>
            <td class="verificationsrestblheadercol">No of cylinders</td>
            <td class="verificationsrestblcol">{{verificationResponseResultJson.vehicleNoOfCylinder}}</td>
          </tr>

          <tr>
            <td class="verificationsrestblheadercol">
              Rear Tyre Size
            </td>
            <td class="verificationsrestblcol">{{verificationResponseResultJson.vehicleRearTyreSize}}</td>
          </tr>

          <tr>
            <td class="verificationsrestblheadercol">Tare</td>
            <td class="verificationsrestblcol">{{verificationResponseResultJson.vehicleTare}}</td>
          </tr>

          <tr>
            <td class="verificationsrestblheadercol">Wheelbase</td>
            <td class="verificationsrestblcol">{{verificationResponseResultJson.vehicleWheelBase}}</td>
          </tr>

        </table>

      </div>

    </div>

  </div>
</template>

<script>
  import SideBarMenu from "@/components/SideBar/SideBarMenu.vue";
  import Header from "@/components/SideBar/Header.vue";
  export default {
    components: {
      SideBarMenu,
      Header
    },
    data: function() {
      return {
        menuPageName: "Verification",
        sidebar: "sidebar",
        content: "content",
        verificationResponseResultJson: [],
      };
    },
    mounted() {
      if (this.verificationResponseResultJson == null) {
        this.$router
          .push({
            name: "Verification"
          })
      }
    },
    created() {
      this.verificationResponseResultJson = this.$route.params.data;
    },
    methods: {
      /* eslint-disable no-console */
      /* eslint-disable no-console */
    }
  }
</script>
<style>
  .verificationresultdiv {
    margin-bottom: 40px;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 700px !important;
    width: 90%;
    padding-top: 1px;
    padding-bottom: 1px;


  }

  .verificationresulttitlediv {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }

  .verificationresulttitle {
    font-size: 20px;

  }

  .verificationsrestblheadercol {
    color: #fff;
    background: #17a2b8;
    font-size: 15px;
    font-weight: bolder;
  }

  .verificationsrestblcol {
    color: #000000;
    background: #f8f8f8;
    font-size: 15px;
    font-weight: bolder;
  }
</style>