<template>
  <div class="wrapper">
    <SideBarMenu :menuPageName="menuPageName" />

    <div id="content">
      <Header :menuPageName="menuPageName" :sidebar="sidebar" :content="content" />

      <div class="verificationformdiv mt-5">
        <b-form v-on:submit.prevent="submit">
          <div class="row justify-content-between align-items-end  mt-5">
            <div class="col">
              <p class="verificationformtitle">Enter the information below</p>
            </div>
          </div>

         <div class="row justify-content-between align-items-end mt-2">
            <div class="col-12">
              <b-form-input type="text" placeholder="Enter registration or vin number" class="form-control  p-4"
                id="vinAndRegNo" name="vinAndRegNo" v-model="verificationForm.vinAndRegNo"  required></b-form-input>
            </div>
          </div>

         <!-- <div class="row justify-content-between align-items-end  mt-4">

            <div class="col-6 ">

              <b-form-select class="verificationformdropdown" id="guideMonth" name="guideMonth"
                v-model="verificationForm.guideMonth" :options="options" required>

              </b-form-select>

            </div>

            <div class="col-6">
              <b-form-select id="guideYear" class="verificationformdropdown" name="guideYear" size="md"
                v-model="verificationForm.guideYear" :options="optionsYears" required></b-form-select>
     
            </div>

          </div>

          <div class="row justify-content-between align-items-end mt-4">
            <div class="col-6">
              <b-form-input type="number" placeholder="Enter vehicle mileage" class="form-control p-4"
                id="vehicleMileage" name="vehicleMileage" v-model="verificationForm.vehicleMileage" required>
              </b-form-input>
            </div>
          </div> -->

          <div class="mt-4 row">
            <button class="button retrieveResultbtn">
              Retrieve Results
            </button>
          </div>

          <div v-if="loading" class="text-center  mt-4">
            <!-- here put a spinner or whatever you want to indicate that a request is in progress -->
            <b-spinner variant="secondary" label="Spinning"></b-spinner>
          </div>

          <div class="text-center  mt-4">
            {{ showResultErrorMsg }}
          </div>

        </b-form>
      </div>

    </div>
  </div>

</template>

<script>
  import SideBarMenu from "@/components/SideBar/SideBarMenu.vue";
  import Header from "@/components/SideBar/Header.vue";
  import http from "../http-common";
  export default {
    components: {
      SideBarMenu,
      Header
    },
    data: function() {
      return {
        verificationForm: {
          vinAndRegNo: "",
          
        },
        menuPageName: "Verification",
        sidebar: "sidebar",
        content: "content",
        showResultErrorMsg: "",
        vehicleModel: "",
        loading: false,
        options: [{
            value: null,
            text: 'Please select guide month',
            disabled: true
          },
          {
            value: '01',
            text: '01'
          },
          {
            value: '02',
            text: '02'
          },
          {
            value: '03',
            text: '03'
          },
          {
            value: '04',
            text: '04'
          },
          {
            value: '05',
            text: '05'
          },
          {
            value: '06',
            text: '06'
          },
          {
            value: '07',
            text: '07'
          },
          {
            value: '08',
            text: '08'
          },
          {
            value: '09',
            text: '09'
          },
          {
            value: '10',
            text: '10'
          },
          {
            value: '11',
            text: '11'
          },
          {
            value: '12',
            text: '12'
          },
        ],
        optionsYears: [{
            value: null,
            text: 'Please select guide year',
            disabled: true
          },
          {
            value: '2010',
            text: '2010'
          },
          {
            value: '2011',
            text: '2011'
          },
          {
            value: '2012',
            text: '2012'
          }
        ]
      };
    },
    computed: {
      years() {
        const year = new Date().getFullYear()
        return Array.from({
          length: year - 2000
        }, (value, index) => 2001 + index)
      }
    },
    methods: {
      /* eslint-disable no-console */
      //from submisson the method
      submit: function() {
        this.loading = true; //the loading begin
        var data = {
          vinAndRegNo: this.verificationForm.vinAndRegNo,
         
        };
        http
          .post("/getVehicleApiResponse", data)
          .then((response) => {
            this.loading = false;
            console.log(response.data);
            this.vehicleModel = response.data.vehicleModel;
            //if vehicle  modle is coming null from the response data
            if (this.vehicleModel == null) {
              this.showResultErrorMsg = "No vehicle records found for search";
            } else {
              this.$router
                .push({
                  name: "VerificationSearchResult",
                  params: {
                    data: response.data
                  }
                })
            }
          })
          .catch((e) => {
            this.loading = false;
            console.log(e);
          });
      },
      /* eslint-disable no-console */
    }
  }
</script>

<style scoped>


  .verificationformdiv {
      max-width: 800px;
    max-height: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7px;
  }

  .retrieveResultbtn {
    border-color: transparent;
    background-color: #17a2b8;
    color: white;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: rgb(185 185 185) 4px 4px 0px 1px;
    border-radius: 0;
    display: block;
    min-width: 52px;
    min-height: 47px;
  }
 

  .verificationformtitle {
    font-size: 25px;
  }

  .verificationformdropdown {
    color: #495057;

  }
</style>