<template>
  <div>
    <nav class="navbar navbar-default justify-content-between">

      <div class="navbar-header" id="sidebarCollapse">
        <b-icon icon=" menu-button-wide"></b-icon>
      </div>

      <div style="text-align: left" >

        <img src="@/assets/images/etsilogo.png" style="height:50px;" />

        <h6>ETESI Vehicle Check – powered by Transunion</h6>

      </div>

    </nav>
    <div>
      <h4>{{menuPageName}}</h4>
    </div>
  </div>
</template>
<script>
import "@/assets/css/stylemenu.css";
import $ from "jquery";

export default {
  name: "sidebarmenu",
   props: ["menuPageName","sidebar","content"],
   mounted() {
      console.log(this.menuPageName);
    $(document).ready(function() {


      $('#sidebarCollapse').on('click', function() {
        $('this.sidebar, this.content').toggleClass('active');
        $('.collapse.in').toggleClass('in');
        $('a[aria-expanded=true]').attr('aria-expanded', 'false');
      });
    });
  },
}
</script>