  <template>
  <div class="wrapper">
    <nav id="sidebar">
      <ul class="list-unstyled components">
        <li>
          <a href="/termsandconditions">
            <b-icon icon="box-arrow-right"></b-icon> Log out
          </a>
        </li>

        <li>
          <a href="#menu">
            <b-icon icon="house-door-fill"></b-icon>
            Home
          </a>
        </li>

        <li>
          <router-link to="/verification">
            <b-icon icon="hand-thumbs-up"></b-icon>
            Verification
          </router-link>
        </li>
      </ul>
    </nav>

    <!-- <div id="content" >

      <nav class="navbar navbar-default">
        
          <div class="navbar-header" id="sidebarCollapse">
 <b-icon icon=" menu-button-wide"></b-icon>                                
          </div>
          <div class="text-center">
                           <h5>ETESI Vehicle Check – powered by Transunion</h5> 
                           </div>          


      
      </nav>
             <div >
             <h4 >{{menuPageName}}</h4>
      </div>  
      
    

     


    </div>-->
  </div>
</template>
  <script>
import $ from "jquery";
import "@/assets/css/stylemenu.css";
export default {
  name: "sidebarmenu",
  props: ["menuPageName"],
  isOpen: false,
  selected: undefined,
  mounted() {
    console.log(this.menuPageName);
    $(document).ready(function () {
      $("#sidebarCollapse").on("click", function () {
        $("#sidebar, #content").toggleClass("active");
        $(".collapse.in").toggleClass("in");
        $("a[aria-expanded=true]").attr("aria-expanded", "false");
      });
    });
  },
  methods: {
    destroyLocalStorage: function () {
      window.localStorage.clear();
    },
  },
};
</script>